@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" @onclick="DrawerToggl" />
        My Application
        <MudSpacer />
        <MudToolBar>
            <MudNavMenu Color="Color.Success">
                <MudTooltip Text="Education" Arrow="true" Placement="Placement.Top">

                    <MudNavLink Href="/skills" Icon="@Icons.Material.Outlined.HistoryEdu">
                        <p class="appbar-btn">Skills</p>
                    </MudNavLink>
                </MudTooltip>
                <MudTooltip Text="Information" Arrow="true" Placement="Placement.Top">
                    <MudNavLink Href="/profile" Icon="@Icons.Material.Outlined.Info">
                        <p class="appbar-btn">Info</p>
                    </MudNavLink>

                </MudTooltip>
                <MudTooltip Text="Experiance" Arrow="true" Placement="Placement.Top">
                    <MudNavLink Href="/projects" Icon="@Icons.Material.Outlined.Work">
                        <p class="appbar-btn">Projects</p>
                    </MudNavLink>
                </MudTooltip>
                <MudTooltip Text="Contact me" Arrow="true" Placement="Placement.Top">
                    <MudNavLink Href="/contact" Icon="@Icons.Material.Outlined.ContactSupport">
                        <p class="appbar-btn">Contact</p>
                    </MudNavLink>
                </MudTooltip>
            </MudNavMenu>
            

        </MudToolBar>
    </MudAppBar>
    <div>
        <MudMainContent>
            <MudContainer Class="mt-6" MaxWidth="MaxWidth.ExtraLarge">
                @Body
            </MudContainer>
        </MudMainContent>
    </div>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggl()
    {
        _drawerOpen = !_drawerOpen;
    }
}
